body{
    background-color: rgb(242, 235, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cornicemain{
    border: 10px solid rgb(3, 15, 0);
    width: 50%;
}


.subcontainer img{
    width: 50%;
    padding: 10px;
}


.subcontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bordoverticale{
    height:520px;
    border: 5px solid rgb(3, 15, 0);
}

.bordoriziontale{
    border: 5px solid rgb(3, 15, 0);
}

.testo{
    font-size: 40px;
    text-orientation: upright;
    writing-mode: vertical-rl;
}

.subcontainer2{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #920921;
    border-radius: 50%;
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button:hover{
    transform: scale(1.2);
}

.space{
    width: 100%;
    height: 150px;
}

.boxproposta{
    padding: 10px;
    border: 10px solid rgb(3, 15, 0);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.domanda{
    font-size: 25px;
    padding: 60px;
}

.boxpulsanti{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px;
}

.pulsanit{
   background:radial-gradient(circle, #bc0224 30%, #920921 100%);
   width: 100px;
   text-align: center;
   border-radius: 5px;
   transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pulsanit:hover{
    transform: scale(1.1);
}

.space1{
    width: 100%;
    height: 120px;
}